@tailwind base;
@tailwind components;
@tailwind utilities;

@import "daisyui";

@layer components {
    .site-container {
      @apply max-w-7xl mx-auto w-full;
    }
  }
  html,
  body,
  #root {
    height: 100%;
  }
  #root {
    display: flex;
    flex-direction: column;
  
    scroll-behavior: smooth;
  }
  main {
    flex-grow: 1;
  }